<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-card-header>Post</mat-card-header>
    <mat-form-field>
    <input matInput
     type="text"
     formControlName = "title"
     placeholder="Enter title"
     >
     <mat-error *ngIf="form.get('title').invalid">Invalid field</mat-error>
    </mat-form-field>
    <button mat-stroked-button type="button" (click)=imagePicker.click() >Pick Image</button>
     <input type="file" #imagePicker (change)="onImagePicked($event)">
     <div class="image-preview" *ngIf="imagePreview!=='' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.title">
     </div>
    <hr>
    <mat-form-field>
      <textarea matInput
      rows="6"
      placeholder="Enter description"
      formControlName = "post"
      ></textarea>
      <mat-error *ngIf="form.get('post').invalid">Invalid field</mat-error>
    </mat-form-field>
    <div>
        <button mat-button-raised
        type="submit">Save</button>
    </div>
  </form>
</mat-card>





