<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-card-header>Post</mat-card-header>
    <mat-form-field>
    <input matInput
     type="text"
     name = "newTitle"
     ngModel
     placeholder="Enter title"
     required
     minlength="3"
     #newTitle="ngModel"
     >
     <mat-error *ngIf="newTitle.invalid">Invalid field</mat-error>
    </mat-form-field>
    <hr>
    <mat-form-field>
      <textarea matInput
      rows="6"
      ngModel
      placeholder="Enter description"
      name="newPost"
      required
      #newPost="ngModel"
      minlength="3"
      ></textarea>
      <mat-error *ngIf="newPost.invalid">Invalid field</mat-error>
    </mat-form-field>
    <div>
        <button mat-button-raised
        type="submit">Save</button>
    </div>
  </form>
</mat-card>





